
    .slider-container {
      position: relative;
      max-width: 300px;
      max-height: 300px;
      margin: auto;
    }
    .slider-container img {
      width: 100%;
      display: none;
    }
    .slide-navigation {
      text-align: center;
      margin-top: 10px;
    }
    .slide-navigation span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #bbb;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
    }
    .slide-navigation span.active {
      background-color: #717171;
    }

    